<p id="notice"><%= notice %></p>

<p>
  <center><strong>Name:</strong>
  <%= @mbracket.name %>
</p></center>

<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank1.rank %> &nbsp;<%= @rank1.name %><br><br>
        <%= @rank16.rank %> &nbsp;<%= @rank16.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank8.rank %> &nbsp;<%= @rank8.name %><br><br>
        <%= @rank9.rank %> &nbsp;<%= @rank9.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank5.rank %> &nbsp;<%= @rank5.name %><br><br>
        <%= @rank12.rank %> &nbsp;<%= @rank12.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank4.rank %> &nbsp;<%= @rank4.name %><br><br>
        <%= @rank13.rank %> &nbsp;<%= @rank13.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank6.rank %> &nbsp;<%= @rank6.name %><br><br>
        <%= @rank11.rank %> &nbsp;<%= @rank11.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank3.rank %> &nbsp;<%= @rank3.name %><br><br>
        <%= @rank14.rank %> &nbsp;<%= @rank14.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank7.rank %> &nbsp;<%= @rank7.name %><br><br>
        <%= @rank10.rank %> &nbsp;<%= @rank10.name %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="well well-sm">
        <%= @rank2.rank %> &nbsp;<%= @rank2.name %><br><br>
        <%= @rank15.rank %> &nbsp;<%= @rank15.name %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_mbracket_path(@mbracket) %> |
<%= link_to 'Back', mbrackets_path %>
